
\.vscode/

\.vs/

*.pyproj

*.pyc

AlphaHalfGo-Zero/temp/

AlphaHalfGo-Zero/0304Loss_pi/

AlphaHalfGo-Zero/88boardHalfGo/

AlphaHalfGo-Zero - Copy/temp/

AlphaPubg-Zero/temp/

deploy/AlphaHalfGo-Zero/temp/

AlphaHalfGo-Zero/\.idea/
