
\.vscode/

\.vs/

*.pyproj

*.pyc

AlphaHalfGo-Zero/temp/

AlphaHalfGo-Zero/0304Loss_pi/

AlphaHalfGo-Zero/88boardHalfGo/

AlphaHalfGo-Zero - Copy/temp/

AlphaPubg-Zero/temp/

AlphaPubg-Zero/\.idea/

AlphaHalfGo-Zero/\.idea/

deploy/AlphaHalfGo-Zero/temp/

Unify/temp_Pubg/

Unify/temp_Half_Go/

Unify/\.idea/
